<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <h2>Student List</h2>
    <table border="1" cellpadding="10">
        <tr>
            <th>Mã số sinh viên</th>
            <th>Tên</th>
            <th>Điểm trung bình</th>
        </tr>
        <tr th:each="sv : ${students}">
            <td th:text="${sv.id}"></td>
            <td th:text="${sv.name}"></td>
            <td th:text="${sv.gpa}"></td>
        </tr>
    </table>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
