
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
    background-color: #f4f4f9;
    color: #333;
}

/* Header styles */
header {
    background-color: #007bff;
    color: white;
    padding: 1rem;
    text-align: center;
    flex-shrink: 0;
    margin-left: 200px; /* Add margin to avoid overlap with sidebar */
    z-index: 4; /* Ensure it appears below the sidebar */
    position: relative;
}

header h1 {
    font-size: 1.5rem;
    text-align: right;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex: 1; /* Take up remaining space */
}
.sidebar {
    background-color: #343a40;
    color: white;
    padding: 1rem;
    width: 200px;
    height: 100vh; /* Full height */
    position: fixed; /* Fixed positioning to keep it static */
    top: 0; /* Align to the top of the page */
    left: 0; /* Align to the left of the page */
    z-index: 10; /* Ensure it appears above other elements */
}
.sidebar img{
    width: 100%;
    height: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
}
.sidebar h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.sidebar ul{
    padding-left: 0;
    margin-bottom: 1rem;
}
.sidebar ul li {
    margin-bottom: 0.5rem;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;         
}

/* Main content styles */
.main-container {
    flex: 1; /* Chiếm toàn bộ không gian còn lại */
    overflow-y: auto; /* Chỉ cho phép cuộn dọc */
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-content {
    flex: 1; /* Take up remaining vertical space */
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 200px; /* Add margin to avoid overlap with sidebar */
    margin-bottom: 2rem; /* Add space between main-content and footer */
    position: relative; /* Ensure it respects the layout */
    z-index: 1; /* Default z-index */
}
footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative; /* Ensure it stays above the sidebar */
    z-index: 15; /* Higher z-index to appear above the sidebar */
    margin-top: auto; /* Push footer to the bottom of the page */
}

footer p {
    margin: 0;  
}   